*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: $grey-3;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.container {
	max-width: 1880px;
	margin: 0 auto;
}

.main-title {
	margin: 0;
	font-family: Oswald;
	color: $grey-1;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;

	@media (min-width: $tablet) {
		font-size: 60px;
		line-height: 64px;
	}
}
