*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: $grey-3;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
	overflow-x: hidden;
}

.visually-hidden {
  @include visually-hidden;
}

.container {
	max-width: 1880px;
	margin: 0 auto;
}

.main-title {
	margin: 0;
	font-family: Oswald, Arial, sans-serif;
	color: $grey-1;
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;

	@media (min-width: $tablet) {
		font-size: 60px;
		line-height: 64px;
	}
}

.sub-title {
	position: relative;
	display: inline-block;
	margin: 0;
	padding-right: 25px;
	font-family: Oswald, Arial, sans-serif;
	color: $grey-1;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	background-color: $white;

	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		width: 100vw;
		height: 3px;
		margin-top: calc(1em / 2 + 3px);
		background-color: $green;
		z-index: -1;
	}

	&::before {
		display: none;
	}

	&::after {
		left: 0;
	}

	@media (min-width: $tablet) {
		padding-left: 40px;
		padding-right: 40px;
		font-size: 36px;
		line-height: 36px;

		&::before {
			display: block;
			right: 100%;
		}
	}

	@media (min-width: $desktop) {
		padding-left: 0;

		&::before {
			margin-right: 58px;
		}
	}
}
