@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin reset-list-style {
	margin: 0;
	padding: 0;

	list-style: none;
}

@mixin main-title {
	margin: 0;
	font-family: Oswald;
	color: $grey-1;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

@mixin sub-title {
	position: relative;
	display: inline-block;
	margin: 0;
	padding-left: $phones-paddings;
	padding-right: $phones-paddings;
	font-family: Oswald;
	color: $grey-1;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	background-color: $white;

	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		width: 100vw;
		height: 3px;
		margin-top: calc(1em / 2 + 3px);
		background-color: $green;
		z-index: -1;
	}

	&::before {
		display: none;

		@media (max-width: $tablet-max) {
			display: block;
			right: 100%;
		}
	}

	&::after {
		left: 0;
	}


	@media (min-width: $tablet) {
		padding-left: $tablets-paddings;
		padding-right: $tablets-paddings;
		font-size: 36px;
		line-height: 36px;
	}

	@media (min-width: $desktop) {
		padding-left: $desktops-paddings;
		padding-right: $desktops-paddings;
	}
}
