.add-product {
	border-top: 1px solid $grey-9;

	@media (min-width: $tablet) {
		padding: 0 $tablets-paddings;
	}

	@media (min-width: $desktop) {
		padding: 0;
	}

	&__title {
		@include sub-title;
		margin-top: 30px;
		margin-bottom: 30px;

		@media (min-width: $tablet) {
			margin-bottom: 75px;
		}
	}

	&__wrapper {
		margin-bottom: 35px;
		padding: 0 $phones-paddings;

		@media (min-width: $tablet) {
			padding: 0;
		}

		@media (min-width: $desktop) {
			display: flex;
			align-items: center;
			margin-bottom: 80px;
			padding: 0 $desktops-paddings;
		}
	}

	&__list {
		@include reset-list-style;
		margin-bottom: 40px;

		@media (min-width: $desktop) {
			width: 100%;
			margin-bottom: 0;
		}
	}

	&__item {
		padding: 15px 0;
		border-bottom: 1px solid $grey-5;

		&:first-child {
			border-top: 1px solid $grey-5;
		}

		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 25px;
			padding: 30px 40px;
			border: 1px solid $grey-5;
			margin-top: -1px;
		}

		@media (min-width: $desktop) {
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 40px;
			align-items: center;
			margin-top: 0;
			padding: 15px 0;
			border: none;
			border-bottom: 1px solid $grey-5;
		}
	}

	&__item-title {
		margin: 0;
		margin-bottom: 15px;
		font-family: Oswald;
		color: $grey-2;
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			font-size: 20px;
			line-height: 20px;
			margin: 0;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin: 0;
		margin-bottom: 15px;

		@media (min-width: $tablet) {
			justify-content: flex-end;
			margin: 0;
		}

		@media (min-width: $desktop) {
			justify-content: space-between;
		}
	}

	&__info-price {
		font-weight: 400;

		@media (min-width: $tablet) {
			margin-left: 50px;
		}
	}

	&__button {
		@media (max-width: $tablet-max) {
			grid-column: 1 / -1;
		}
	}

	&__bonus-link {
		display: block;
		position: relative;
		margin: 0 auto;
		padding-top: 190px;
		width: 280px;
		height: 290px;
		color: $white;
		text-align: center;
		text-decoration: none;
		background-color: $green;
		background-image: url("../../img/content/gift-photo-mobile@1x.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&::before {
			content: '';
			position: absolute;
			top: 65px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 55px;
			height: 60px;
			background-image: url('../../img/content/icon-gift.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}

		@media (min-resolution: $retina-dpi),
			(min-resolution: $retina-dppx) {
				background-image: url("../../img/content/gift-photo-mobile@2x.jpg");
			}

		@media (min-width: $tablet) {
			width: 708px;
			margin-top: 70px;
			padding-top: 0;
			height: 200px;
			background-image: url("../../img/content/gift-photo-tablet@1x.jpg");

			&::before {
				top: 50%;
				left: 75px;
				transform: translateY(-50%);
			}
		}

		@media (min-width: $tablet) and (min-resolution: $retina-dpi),
			(min-width: $tablet) and (min-resolution: $retina-dppx) {
			background-image: url("../../img/content/gift-photo-tablet@2x.jpg");
		}

		@media (min-width: $desktop) {
			margin: 0;
			margin-left: 80px;
			width: 245px;
			height: 290px;
			background-image: url("../../img/content/gift-photo-desktop@1x.jpg");

			&::before {
				top: 65px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		@media (min-width: $desktop) and (min-resolution: $retina-dpi),
			(min-width: $desktop) and (min-resolution: $retina-dppx) {
			background-image: url("../../img/content/gift-photo-desktop@2x.jpg");
		}
	}

	&__bonus-title {
		margin: 0 auto;
		width: 160px;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;

		@media (min-width: $tablet) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 125px;
			text-align: left;
		}

		@media (min-width: $desktop) {
			top: 190px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
	}
}
