.catalog {
	padding-left: $phones-paddings;
	padding-right: $phones-paddings;
	overflow: hidden;

	@media (min-width: $tablet) {
		padding-left: $tablets-paddings;
		padding-right: $tablets-paddings;
	}

	@media (min-width: $desktop) {
		padding-left: $desktops-paddings;
		padding-right: $desktops-paddings;
	}

	&__title {
		margin-top: 10px;
		margin-bottom: 35px;

		@media (min-width: $tablet) {
			margin-top: 60px;
			margin-bottom: 155px;
		}

		@media (min-width: $desktop) {
			margin-top: 75px;
		}
	}

	&__list {
		position: relative;
		display: grid;
		grid-row-gap: 25px;
		grid-column-gap: 25px;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		align-items: center;
		@include reset-list-style;
		padding-bottom: 25px;

		@media (min-width: $tablet) {
			grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
			grid-column-gap: 60px;
			grid-row-gap: 140px;
		}

		@media (min-width: $desktop) {
			grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
			grid-column-gap: 80px;
		}

		@media (min-width: $phone) and (max-width: $phone-max) {
			&::before,
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 100vw;
				height: 1px;
				background-color: $grey-9;
			}

			&::after {
				right: 0;
			}
		}
	}

	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		position: relative;

		@media (min-width: $phone) and (max-width: $phone-max) {
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 100vw;
				height: 1px;
				background-color: $grey-9;
			}

			&::after {
				top: 0;
				right: 0;
			}
		}

		@media (min-width: $tablet) {
			display: block;
			min-height: 430px;
			padding: 170px 35px 40px 35px;
			background-color: $grey-8;
		}

		&--all {
			display: block;
			text-align: center;
			background-image: url('../../img/content/icon-plus-mobile.svg');
			background-repeat: no-repeat;
			background-size: 30px 30px;
			background-position: center 25px;

			@media (min-width: $tablet) {
				display: flex;
				flex-direction: column;
				min-height: 453px;
				background-color: $white;
				border: 1px solid rgba($color: $grey-5, $alpha: 0.6);
				background-image: url('../../img/content/icon-plus.svg');
				background-repeat: no-repeat;
				background-size: 60px 60px;
				background-position: center 50px;
			}

			.product-button {
				margin-top: auto;
			}
		}
	}

	&__product-img-link {

		@media (min-width: $tablet) {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			left: 50%;
			top: -15%;
			transform: translateX(-50%);
			width: 100%;
			height: 216px;
		}
	}

	&__product-title {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 10px;
		width: 75px;
		font-family: Oswald;
		color: $grey-1;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			margin: 0 auto;
			margin-bottom: 20px;
			width: 130px;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
		}

		&--all {
			width: 100%;
			margin-top: 80px;

			@media (min-width: $tablet) {
				width: 60%;
			}

			@media (min-width: $desktop) {
				width: 100%;
			}
		}
	}

	&__product-info {
		width: 100%;

		@media (min-width: $tablet) {
			margin-bottom: 30px;

			tr {
				display: flex;
				justify-content: space-between;
				padding: 5px;
				border-bottom: 1px solid $grey-5;
			}
		}

		&--all {
			margin: 0;
			margin-bottom: 20px;

			@media (min-width: $tablet) {
				width: 70%;
				margin: 0 auto;
			}

			@media (min-width: $desktop) {
				width: 100%;
			}
		}
	}

	&__product-value {
		text-align: right;
	}

	&__product-button {
		grid-column: 1 / -1;
	}
}
