.example {
	padding-top: $phones-paddings;
	padding-bottom: 35px;
	background-color: $grey-8;

	@media (min-width: $tablet) {
		padding-top: $tablets-paddings;
		padding-bottom: 0;
		background-color: $white;
	}

	@media (min-width: $desktop) {
		padding-top: 0;
	}

	&__wrapper {
		@media (min-width: $desktop) {
			display: grid;
			grid-template-columns: 1fr 2fr;
			background-image: linear-gradient(to bottom, $white 170px, $grey-8 170px);
		}
	}

	&__block-about {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;

		@media (min-width: $tablet) {
			padding-left: $tablets-paddings;
			padding-right: $tablets-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
			background-image: linear-gradient(to bottom, $white 170px, $grey-8 170px);
		}
	}

	&__title {
		@include main-title;
		margin-top: 10px;
		margin-bottom: 30px;

		@media (min-width: $tablet) {
			font-size: 60px;
			line-height: 60px;
			margin-bottom: 55px;
		}

		@media (min-width: $desktop) {
			margin-top: 50px;
			margin-bottom: 140px;
		}
	}

	&__description {
		margin: 0;
	}

	&__stats-costs {
		padding-top: 25px;

		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: minmax(366px, 1fr) 2fr;
			padding-top: 50px;
			margin-bottom: 60px;
		}

		@media (min-width: $desktop) {
			display: block;
			padding-top: 70px;
		}
	}

	&__stats {
		display: flex;
		justify-content: space-between;
		padding-bottom: 25px;

		@media (min-width: $desktop) {
			padding-bottom: 50px;
		}
	}



	&__stats-block {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 125px;
		min-height: 55px;
		border: 1px solid $grey-5;
		border-radius: 4px;

		@media (min-width: $tablet) {
			width: 165px;
			min-height: 75px;
			border-radius: 5px;

			&:nth-child(1) {
				.example__result-description {
					width: 110px;
				}
			}

			&:nth-child(2) {
				.example__result-description {
					width: 140px;
				}
			}
		}
	}

	&__result {
		font-family: Oswald;
		font-weight: 500;
		font-size: 24px;
		line-height: 24px;
		color: $grey-1;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	&__result-description {
		position: absolute;
		margin: 0;
		width: 85px;
		top: 100%;
		left: 50%;
		margin-top: -12px;
		transform: translateX(-50%);
		padding: 0 5px;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		background-color: $grey-8;

		@media (min-width: $tablet) and (max-width: $tablet-max) {
			background-color: #fff;
		}

		@media (min-width: $tablet) {
			font-size: 14px;
			line-height: 14px;
			padding: 5px 5px;
			margin-top: -12px;
		}
	}

	&__costs {
		margin: 0;
		margin-top: 10px;
		margin-bottom: 35px;
		font-family: Oswald;
		color: $grey-1;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;

		@media (min-width: $tablet) {
			margin: 0;
			justify-self: end;
			width: 175px;
			font-size: 20px;
			line-height: 30px;
			text-align: right;
		}

		@media (min-width: $desktop) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-right: 37.5px;
		}
	}

	&__block-cats {
		@media (min-width: $tablet) {
			position: relative;
			background-image: linear-gradient(to right, $grey-8 50%, $grey-11 50%);
		}

		@media (min-width: $desktop) {
			justify-self: end;
		}
	}

	&__before,
	&__after {
		display: block;
		margin-bottom: 30px;
		text-align: center;

		@media (min-width: $tablet) {
			margin-bottom: 0;
			height: 650px;
		}
	}

	&__before {
		@media (min-width: $tablet) {
			position: absolute;
			width: 50%;
			overflow: hidden;
			z-index: 1;
			background-image: linear-gradient(to bottom, $white 170px, $grey-8 170px);

			.example__img {
				position: absolute;
				left: 100%;
				transform: translateX(-50%);
				margin-top: 7px;
			}
		}

		@media (min-width: $desktop) {
			margin-left: -1px;
		}
	}

	&__after {
		@media (min-width: $tablet) {
			background-image: linear-gradient(to bottom, $white 170px, $grey-11 170px);
		}
	}

	&__img {
		@media (min-width: $tablet) {
			width: 690px;
			max-width: 690px;
			height: 517px;
		}
	}

	&__cat-hide {
		@media (max-width: $phone-max) {
			display: none;
		}
	}

	&__toggles {
		display: flex;
		justify-content: space-between;
		padding-left: 40px;
		padding-right: 40px;

		@media (min-width: $tablet) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 60px;
			z-index: 1;
		}

		@media (min-width: $desktop) {
			bottom: 65px;
		}
	}

	&__option {
		position: relative;
		font-family: Oswald;
		color: $grey-1;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -5px;
			border-bottom: 1px dashed $grey-13;
			transition: all 0.2s ease;
		}

		&:hover {
			&::after {
				border-bottom: 1px solid $grey-14;
			}
		}

		&:active {
			&::after {
				border-bottom: none;
			}
		}

		@media (min-width: $desktop) {
			font-size: 20px;
		}
	}

	&__range {
		align-self: center;
		padding: 4px 5px;
		width: 85px;
		height: 15px;
		border: 1px solid $grey-5;
		border-radius: 10px;

		@media (min-width: $tablet) {
			position: relative;
			width: 430px;
			height: 6px;
			margin-left: 20px;
			margin-right: 20px;
			border: none;
			border-radius: 3px;
			background-color: $grey-12;
		}
	}

	&__range-option {
		width: 35px;
		height: 5px;
		background-color: $green;
		border-radius: 5px;

		@media (min-width: $tablet) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 35px;
			border-radius: 50%;
			background-color: $white;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
			border: 1px solid $grey-5;
			cursor: pointer;
			transition: all 0.2s ease;

			@media (min-width: $desktop) {

			}

			&:hover {
				box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
			}

			&:active {
				box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
				border: 2px solid #68b738;
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: $green;
			}
		}
	}
}
