.example {

	@media (min-width: $phone) and (max-width: $phone-max) {
		background-color: $grey-8;
	}

	&__wrapper {
		padding-top: 30px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;

		@media (min-width: $tablet) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
		}
	}

	&__title {
		margin-bottom: 30px;

		@media (min-width: $tablet) {
			margin-bottom: 55px;
		}
	}

	&__description {
		margin: 0;
	}

	&__stats-costs {
		padding-top: 25px;

		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: minmax(366px, 1fr) 2fr;
			padding-top: 50px;
			margin-bottom: 60px;
		}

		@media (min-width: $desktop) {
			display: block;
			padding-top: 70px;
		}
	}

	&__stats {
		display: flex;
		justify-content: center;
		padding-bottom: 25px;

		@media (min-width: $desktop) {
			padding-bottom: 50px;
		}
	}

	&__stats-block {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: calc(30 / 280 * 100%);
		width: 125px;
		min-height: 55px;
		border: 1px solid $grey-5;
		border-radius: 4px;

		&:last-child {
			margin-right: 0;
		}

		@media (min-width: $tablet) {
			width: 165px;
			min-height: 75px;
			border-radius: 5px;

			&:nth-child(1) {
				.example__result-description {
					width: 110px;
				}
			}

			&:nth-child(2) {
				.example__result-description {
					width: 140px;
				}
			}
		}
	}

	&__result {
		font-family: Oswald;
		font-weight: 500;
		font-size: 24px;
		line-height: 24px;
		color: $grey-1;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			font-size: 30px;
			line-height: 30px;
		}
	}

	&__result-description {
		position: absolute;
		margin: 0;
		width: 85px;
		top: 100%;
		left: 50%;
		margin-top: -12px;
		transform: translateX(-50%);
		padding: 0 5px;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		background-color: $grey-8;

		@media (min-width: $tablet) and (max-width: $tablet-max) {
			background-color: #fff;
		}

		@media (min-width: $tablet) {
			font-size: 14px;
			line-height: 14px;
			padding: 5px 5px;
			margin-top: -12px;
		}
	}

	&__costs {
		margin: 0;
		margin-top: 10px;
		margin-bottom: 35px;
		font-family: Oswald;
		color: $grey-1;
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: 400;
		text-align: center;

		@media (min-width: $tablet) {
			margin: 0;
			justify-self: end;
			width: 175px;
			font-size: 20px;
			line-height: 30px;
			text-align: right;
		}

		@media (min-width: $desktop) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-right: 37.5px;
		}
	}

	&__block-cats {
		position: relative;
		height: 245px;
		overflow: hidden;
	}

	&__before,
	&__after {
		position: absolute;
		width: 280px;
		height: 245px;
		top: 0;
		left: calc(50% - 280px / 2);
		opacity: 0;
		transition: all 0.2s ease;
	}

	&__cat--show {
		opacity: 1;
	}

	&__toggles {
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 210px;
		margin: 0 auto;

		&::after {
			content: '';
			width: 84px;
			height: 14px;
			position: absolute;
			top: calc(50% - 14px / 2);
			left: calc(50% - 84px / 2);
			border: 1px solid $grey-5;
			border-radius: 6px;
			background-color: $white;
		}

		input:checked + label::before,
		input:checked + label::after {
			opacity: 1;
		}
	}

	&__option {
		position: relative;
		width: 50%;
		font-family: Oswald, Arial, sans-serif;
		color: $grey-1;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 1;

		&--before::after,
		&--after::before {
			content: '';
			width: 35px;
			height: 6px;
			position: absolute;
			top: calc(50% - 6px / 2);
			opacity: 0;
			background-color: $green;
			border-radius: 3px;
			transition: all 0.2s ease;
		}

		&--before::after {
				right: 0;
		}

		&--after {
			text-align: right;

			&::before {
				left: 0;
			}
		}
	}

	&__range {
		display: none;
	}
}
