.features {
	padding: $phones-paddings;

	@media (min-width: $tablet) {
		padding: $tablets-paddings;
		padding-bottom: 50px;
	}

	@media (min-width: $desktop) {
		padding: $desktops-paddings;
	}

	@media (min-width: $tablet) and (max-width: $tablet-max) {
		&__decore-line {
			width: 100%;
			height: 1px;
			background-color: $grey-9;
		}
	}

	&__title {
		@include main-title;
		margin-bottom: 35px;

		@media (min-width: $tablet) {
			font-size: 60px;
			line-height: 60px;
			margin-bottom: 60px;
		}
	}

	&__list {
		display: grid;
		grid-row-gap: 20px;
		align-items: center;
		grid-auto-rows: minmax(60px, auto);
		@include reset-list-style;

		@media (min-width: $tablet) {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: calc(185 / 708 * 100%);
			grid-row-gap: 85px;
			counter-reset: item_number;
		}

		@media (min-width: $desktop) {
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: calc(85 / 1220 * 100%);
		}
	}

	&__item {
		position: relative;
		padding-left: 80px;


		@media (min-width: $tablet) {
			min-height: 230px;
			padding-left: 0;
			padding-top: 120px;
			counter-increment: item_number;

			&::after {
				position: absolute;
				display: block;
				content: counter(item_number);
				top: -25px;
				right: 0;
				font-size: 280px;
				line-height: 253px;
				font-family: "Oswald", "Arial", sans-serif;
				color: $grey-8;
				z-index: -1;
			}
		}

		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 60px;
			height: 60px;
			left: 0;
			top: calc(50% - 60px / 2);
			background-color: $green;
			background-repeat: no-repeat;
			background-size: 50px 50px;
			background-position: center;

			@media (min-width: $tablet) {
				top: 0;
				transform: none;
				width: 80px;
				height: 80px;
			}
		}

		&--health {
			&::before {
				background-image: url('../../img/content/advantage-leaf@2x.png');
			}
		}

		&--powder {
			&::before {
				background-image: url('../../img/content/advantage-powder@2x.png');
			}
		}

		&--food {
			&::before {
				background-image: url('../../img/content/advantage-dining@2x.png');
			}
		}

		&--profit {
			&::before {
				background-image: url('../../img/content/advantage-clock@2x.png');
			}
		}
	}

	&__description {
		margin: 0;
	}
}
