.page-footer {
	position: relative;
	background-color: $grey-8;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 25px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		padding-bottom: 20px;
		background-color: $white;

		@media (min-width: $tablet) {
			padding-top: 65px;
			padding-left: calc(70 / 768 * 100%);
			padding-right: calc(70 / 768 * 100%);
			padding-bottom: 60px;
		}

		@media (min-width: $desktop) {
			position: absolute;
			z-index: 1;
			top: 95px;
			left: 110px;
			width: 570px;
			padding-left: 75px;
			padding-right: 90px;
		}
	}

	&__title {
		width: 125px;
		margin: 0;
		font-family: Oswald, Arial, sans-serif;
		color: $grey-1;
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		text-transform: uppercase;
		user-select: none;

		@media (min-width: $tablet) {
			width: 155px;
			font-size: 20px;
			line-height: 25px;
		}
	}

	&__adress {
		width: 135px;
		margin: 0;
		line-height: 20px;

		br {
			display: none;
		}

		@media (min-width: $tablet) {
			width: 155px;
			text-align: right;

			br {
				display: block;
			}
		}

		@media (min-width: $desktop) {
			text-align: left;
		}
	}

	&__bottom {
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		user-select: none;

		@media (min-width: $tablet) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			min-height: 150px;
			padding-left: $tablets-paddings;
			padding-right: $tablets-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
		}
	}

	&__logo-block {
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
		border-bottom: 1px solid $grey-10;

		@media (min-width: $tablet) {
			justify-self: start;
			padding: 0;
			border-bottom: none;
		}
	}

	&__logo-link {
		display: block;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 0.6;
		}
	}

	&__social {
		border-bottom: 1px solid $grey-10;

		@media (min-width: $tablet) {
			padding: 0;
			border-bottom: none;
		}
	}

	&__copyright {
		padding-top: $phones-paddings;
		padding-bottom: $phones-paddings;

		@media (min-width: $tablet) {
			padding: 0;
			justify-self: end;
		}

		&-link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 175px;
			text-decoration: none;
			font-weight: 400;
			color: $grey-3;
			font-size: 16px;
			line-height: 16px;
			transition: all 0.2s;

			&:hover {
				svg {
					fill: $green;
				}
			}

			&:active {
				opacity: 0.3;
			}
		}

		svg {
			fill: $grey-3;
			transition: all 0.2s;

			@media (min-width: $tablet) {
				margin-left: 25px;
			}
		}
	}

	&--catalog,
	&--form {
		.page-footer__header {
			background-color: $grey-8;

			@media (min-width: $desktop) {
				background-color: $white;
			}
		}
	}
}
