.green-button {
	display: block;
	padding: 13px 25px 13px 25px;
	font-family: 'Oswald','Arial',sans-serif;
	color: $white;
	background-color: $green;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	transition: all 0.2s ease;

	&:hover {
		background-color: $green-2;
	}

	&:active {
		color: rgba($color: #ffffff, $alpha: 0.3);
	}
}
