.green-button {
	display: block;
	padding: 10px 25px 10px 25px;
	font-family: 'Oswald','Arial',sans-serif;
	color: $white;
	background-color: $green;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	transition: all 0.2s ease;


	&:hover {
		background-color: $green-2;
	}

	&:active {
		color: rgba($color: #ffffff, $alpha: 0.3);
	}

	&--grey {
		color: $grey-3;
		background-color: $grey-8;

		&:hover {
			background-color: $grey-7;
		}

		&:active {
			color: rgba($color: $grey-3, $alpha: 0.3);
		}
	}
}
