.index-intro {
	text-align: center;
	margin-bottom: 20px;

	@media (min-width: $tablet) {
		position: relative;
		min-height: 820px;
		margin-bottom: 0;
		padding-left: calc(90 / 768 * 100%);
	}

	@media (min-width: $desktop) {
		min-height: 525px;
		margin-bottom: 80px;
		padding-left: calc(85 / 1300 * 100%);
	}

	&__img {

		@media (min-width: $tablet) {
			position: absolute;
			z-index: -1;
			left: 0;
			bottom: 0;
		}

		@media (min-width: $desktop) {
			margin-left: 0;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -155px;
		}
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;
		margin-top: 30px;

		@media (max-width: $phone-max) {
			color: $white;
		}

		@media (min-width: $tablet) {
			width: 80%;
			margin-top: 60px;
			margin-bottom: 35px;
			text-align: left;
		}

		@media (min-width: $desktop) {
			width: 40%;
		}
	}

	&__description {
		font-family: Oswald;
		margin: 0;
		margin-bottom: 25px;
		color: $white;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			color: $grey-1;
			margin-bottom: 20px;
			font-size: 20px;
			text-align: left;
			margin-bottom: 50px;
		}
	}

	&__button {
		width: 100%;
		margin: 0 auto;
		padding-top: 13px;
		padding-bottom: 13px;

		@media (min-width: $tablet) {
			width: auto;
			margin: 0;
		}
	}
}
