.index-intro {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (min-width: $tablet) {
		align-items: flex-start;
		position: relative;

		&__img {
			margin-left: -25px;

			@media (min-width: $desktop) {
				margin-left: 0;
				position: absolute;
				top: 30px;
				left: 50%;
				margin-left: -160px;
			}
		}
	}

	@media (min-width: $desktop) {
		min-height: 610px;
	}

	&__title {
		@include main-title;
		width: 250px;
		margin-bottom: 20px;
		text-align: center;
		margin-top: 30px;
		line-height: 36px;

		@media (max-width: $phone-max) {
			color: $white;
		}

		@media (min-width: $tablet) {
			margin-top: 60px;
			margin-left: 90px;
			margin-bottom: 35px;
			font-size: 60px;
			line-height: 60px;
			width: 415px;
			text-align: left;
		}
	}

	&__description {
		font-family: 'Oswald';
		margin: 0;
		margin-bottom: 25px;
		color: $white;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: $tablet) {
			color: $grey-1;
			margin-left: 90px;
			margin-bottom: 20px;
			font-size: 20px;
		}
	}

	&__button {
		@media(max-width: $phone-max) {
			width: 100%;
		}

		@media (min-width: $tablet) {
			position: absolute;
			top: 280px;
			left: 90px;
		}
	}
}
