.index-intro {

	&__title {
		@include main-title;

		@media (max-width: $phone-max) {
			color: $white;
		}

		@media (min-width: $tablet) {
			margin-top: 60px;
			margin-left: 90px;
			font-size: 60px;
			width: 415px;
		}
	}
}
