.map {

	&__title {
		@include main-title;
		margin-top: 40px;
		margin-bottom: 35px;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;

		@media (min-width: $tablet) {
			margin-top: 80px;
			margin-bottom: 60px;
			font-size: 60px;
			line-height: 60px;
			padding-left: $tablets-paddings;
			padding-right: $tablets-paddings;
		}

		@media (min-width: $desktop) {
			padding-left: $desktops-paddings;
			padding-right: $desktops-paddings;
		}
	}

	&__interactive {
		position: relative;
		background-color: $grey-8;

		iframe {
			width: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__pin {
		position: absolute;
		top: 49%;
		left: 49.5%;
		transform: translate(-50%, -50%);
		width: 25%;
		z-index: -1;

		@media (min-width: $tablet) {
			width: 15%;
			top: 50%;
			left: 51%;
		}

		@media (min-width: $desktop) {
			left: 73.5%;
			top: 53.5%;
			width: 6%;
		}
	}
}
