.page-header {
	margin-top: 85px;
	padding-left: $phones-paddings;
	padding-right: $phones-paddings;

	@media (min-width: $tablet) {
		display: grid;
		grid-template-columns: 175px 1fr;
		margin-top: 0;
		padding-top: 25px;
		padding-left: $tablets-paddings;
		padding-right: $tablets-paddings;

		&__intro {
			grid-column: 1 / -1;
			user-select: none;
		}
	}

	@media (min-width: $desktop) {
		grid-template-columns: 205px 1fr;
		padding-top: 55px;
		padding-left: $desktops-paddings;
		padding-right: $desktops-paddings;
	}

	&--index {

		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			display: block;
			top: 65px;
			left: 0;
			width: 100%;
			height: 305px;
			background-image: url('../img/content/index-background-mobile@1x.jpg'), linear-gradient(to right, $green-3, $green-4);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		@media (max-width: $phone-max) and (min-resolution: $retina-dpi),
      (max-width: $phone-max) and (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/content/index-background-mobile@2x.jpg"), linear-gradient(to right, $green-3, $green-4);
      }
		}

		@media (min-width: $tablet) {

			&::before {
				display: none;
			}
		}

		@media (min-width: $desktop) {
			&::before {
				display: block;
				top: 0;
				left: 50%;
				width: 50%;
				height: 696px;
				background-image: url('../img/content/index-background-desktop@1x.jpg'), linear-gradient(to right, $green-3, $green-4);
				background-size: contain;
				background-position: right bottom;
			}
		}

		@media (min-width: $desktop) and (min-resolution: $retina-dpi),
      (min-width: $desktop) and (min-resolution: $retina-dppx) {
				&::before {
					background-image: url("../img/content/index-background-desktop@2x.jpg"), linear-gradient(to right, $green-3, $green-4);
				}
		}
	}

	&__logo-block {
		position: fixed;
		padding-left: $phones-paddings;
		padding-right: $phones-paddings;
		width: 100%;
		min-height: 65px;
		top: 0;
		left: 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		z-index: 2;
		background-color: $white;
		border-bottom: 1px solid $grey-9;

		@media (min-width: $tablet) {
			position: static;
			display: block;
			padding-left: 0;
			padding-right: 0;
			min-height: 58px;
			border-bottom: none;
		}
	}

	&__logo-link {
		display: block;
		width: 33px;
		height: 38px;
		justify-self: start;
		user-select: none;

		@media (min-width: $tablet) {
			width: 173px;
			height: 58px;
		}

		@media (min-width: $desktop) {
			width: 202px;
			height: 60px;
		}
	}

	&__logo-text-link {
		display: flex;
		justify-content: center;
		height: 65px;
		width: 100%;
		line-height: 0;

		@media (min-width: $tablet) {
			display: none;
		}
	}

	&__nav-button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		right: -12px;
		width: 50px;
		height: 65px;
		padding: 0;
		justify-self: end;
		border: none;
		background-color: transparent;
		user-select: none;

		span {
			position: relative;
			display: inline-block;
			width: 25px;
			height: 2px;
			background: $grey-2;
			transition: background .2s .4s;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				background: $grey-2;
				transform-origin: 50% 50%;
				transition: top .2s .2s, transform .2s;
			}

			&::before {
				top: 10px;
			}

			&::after {
				top: -10px;
			}
		}

		@media (min-width: $tablet) {
			display: none;
		}
	}

	&__nav {
		position: fixed;
		z-index: 1;
		display: none;
		top: 65px;
		left: 0;
		width: 100%;

		@media (min-width: $tablet) {
			position: static;
			display: block;
		}
	}
}

@keyframes yo_navi {
	0% { transform: translateY(-2000px); }
	100% { transform: translateY(0); }
}

.show-navigation {
	display: block;
	animation-name: yo_navi;
	animation-duration: .4s;
}

.nav-button--open {
	span {
		background: 0 0;
		transition: background .2s 0;

		&::before,
		&::after {
			top: 0;
			transition: top .2s, transform .2s .4s;
		}

		&::before {
			transform: rotate3d(0,0,1,45deg);
		}

		&::after {
			transform: rotate3d(0,0,1,-45deg);
		}
	}
}
